<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhylogeneticTree.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhylogeneticTree.Settings1>
            <setting name="Algorithm" serializeAs="String">
                <value>Needleman-Wunsch</value>
            </setting>
            <setting name="Open_Gap" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="Extend_Gap" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Presence_Percentage" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Threshold_Size" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="Ignore_Gaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoVariance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Euclidean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pearson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>AboveNormal</value>
            </setting>
            <setting name="NumberOfSequences" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="NotificationEnabled1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationEnabled2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IDLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ShowAdditionalInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageType" serializeAs="String">
                <value>JPEG</value>
            </setting>
        </PhylogeneticTree.Settings1>
    </userSettings>
</configuration>